# Data Profiling

This script will
- Use YData Profiling to comprehensively profile the raw data
    - Visualise correlations between features
    - Flag alerts found within the data
- Save an HTML profile report to /reports/hr_attrition_profiling.html

In [ ]:
# ---
# HR Attrition Dataset - Data Profiling
# ---

import pandas as pd
from ydata_profiling import ProfileReport

# Load data
df = pd.read_csv("../data/raw/hr_attrition_dataset.csv")

# Quick peek
df.head()
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 37 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   employee_id                 25000 non-null  int64
 1   snapshot_date               25000 non-null  object
 2   hire_date                   25000 non-null  object
 3   region                      25000 non-null  object
 4   department                  25000 non-null  object
 5   role                        25000 non-null  object
 6   level                       25000 non-null  object
 7   is_manager                  25000 non-null  int64
 8   age                         25000 non-null  int64
 9   gender                      25000 non-null  object
 10  remote_status               25000 non-null  object
 11  commute_km                  25000 non-null  float64
 12  tenure_years                25000 non-null  float64
 13  base_salary                 25000 non-null  float64
 14  compa_ratio                 25000 non-null  float64
 15  avg_raise_3y                25000 non-null  float64
 16  time_since_last_promo_yrs   25000 non-null  float64
 17  internal_moves_last_2y      25000 non-null  int64
 18  performance_rating          25000 non-null  int64
 19  engagement_score            23034 non-null  float64
 20  manager_quality             23214 non-null  float64
 21  workload_score              25000 non-null  float64
 22  learning_hours_last_yr      25000 non-null  float64
 23  overtime_hours_month        25000 non-null  float64
 24  night_shift                 25000 non-null  int64
 25  schedule_flex               25000 non-null  int64
 26  stock_grants                25000 non-null  float64
 27  benefit_score               25000 non-null  float64
 28  sick_days                   25000 non-null  float64
 29  pto_days_taken              25000 non-null  float64
 30  leave_last_yr               25000 non-null  int64
 31  team_id                     25000 non-null  int64
 32  exit_interview_scheduled    25000 non-null  int64
 33  offboarding_ticket_created  25000 non-null  int64
 34  attrited                    25000 non-null  int64
 35  months_since_hire           25000 non-null  float64
 36  salary_band                 25000 non-null  object
dtypes: float64(16), int64(12), object(9)
memory usage: 7.1+ MB

In [6]:
profile = ProfileReport(df, title="HR Attrition Dataset Profiling Report", explorative=True)
profile.to_file("../reports/hr_attrition_profiling.html")

Summarize dataset: 100%|██████████| 447/447 [00:33<00:00, 13.39it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.93s/it]
Render HTML: 100%|██████████| 1/1 [00:05<00:00,  5.82s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 67.73it/s]

## Correlation Heatmap

<img src="../reports/Correlations.png" width="50%">

## Alerts

<img src="../reports/Alerts.png" width="50%">

## Double-check quality

In [ ]:
# Check missing values
df.isnull().sum().sort_values(ascending=False)

# Check unique values per column (helps detect categorical vs numeric)
df.nunique().sort_values()

# Look for duplicates
df.duplicated().sum()

0